// Header text feature
.call-out {
  @extend %padding-regular;
  display: inline-block;
  width: 100%;
  background-color: $header-desc-background-color;
  background-size: cover;
  font-size: 1.2em;
  text-align: center;
  color: $header-desc-text-color;
}

.call-out p:last-child {
  margin-bottom: 0;
}

.call-out a {
  color: $header-desc-link-color
}

// Layout
.grid {
  display: grid;
  width: 100%;
  grid-template-columns: 8fr 4fr;

  @media (max-width: 1000px) {
    grid-template-columns: 3fr;
  }

  @media (max-width: 576px) {
    grid-template-columns: 1fr;
  }

  grid-gap: 1em;
}

// Post listing
.posts {
  .post-teaser {
    @extend %padding-regular;
    width: 100%;
    margin-bottom: 0;
    display: inline-block;
    background-size: $feature-image-size;
    border-bottom: 1px solid $border-color;

    p a {
      @extend .body-link;
    }
  }

  .excerpt {
    margin-top: 1em;
  }
}

// search bar
.search-teaser {
  @extend %padding-sidebar;
  display: inline-block;
  margin: 0 auto;
}

/* --- Search form --- */
form.search {
  border: 0;
  border-bottom: 2px solid $search-color;
  outline: 0;

  *:focus {
    outline: none;
  }

  input {
    &[type=text] {
      box-sizing: border-box;
      border: 0;
      outline: 0;
      color: $search-color;
    }

    &::-moz-placeholder {
      color: $search-color;
      opacity: 1;
    }

    &:-ms-input-placeholder, &::-webkit-input-placeholder {
      color: $search-color;
    }
  }

  button {
    border: none;
    font-size: 1.2em;
    background-color: $brand-color;
    color: $search-color;
  }
}

// Pagination
.pagination .button {
  margin: 0 1.5em;

  i {
    vertical-align: middle;
  }
}

.pagination {
  padding: $padding-small $padding-large 0 $padding-large;
  text-align: center;
  @media (max-width: 600px) {
    padding: $padding-small;
  }
}
